.imgTop,.mensagem{
	position:relative
}

.tabela-pc,footer{
	background-color:#333
}

.imgTop{
	width:auto;
	height:auto;
	max-width:150px
}

.menu a{
	color:#fff
}

.menu a:hover,.submenu a,footer a{
	color:green
}

.mensagem{
	top:50px;
	width:70%;
	left:15%;
	padding-bottom:50px
}

.importante,footer{
	position:relative;
	top:25px
}

.importante{
	width:70%;
	left:15%;
	padding-bottom:25px
}

footer{
	color:#FFF;
	padding:20px;
	margin-top:10px;
	font-size:12px
}

footer a{
	text-decoration:none
}

.icon-direita{
	float:right
}

.tabela-pc{
	color:#fff
}

.cadastro,.login{
	background-color:#696969;
	color:#fff
}

.login{
	padding-top:10%
}

.cadastro{
	padding-top:5%
}

@media(min-width:768px){
	.menu-fixo{position:fixed}
}
